# Analysis of The Look's e-commerce platform on Sales and Revenue during the period from quarter 1 to quarter 3 in 2022

Author : Gilbert Agus Trianto

**SMART analysis,**

  Apakah teknik pemasaran, promosi, atau variasi barang yang disediakan oleh e-commerce sudah tepat dan sesuai untuk mengingkatkan nilai jual dan keuntungan tiap bulannya?

 `Are the marketing techniques, promotions, or variations of goods provided by e-commerce appropriate and appropriate to increase sales value and monthly profits?`

In [1]:
from google.colab import auth
from google.cloud import bigquery
auth.authenticate_user()
print('Authenticated')

project_id = "hactiv8-glbrt"
client = bigquery.Client(project=project_id)

Authenticated

### Explanation Point:

1. Berapa jumlah transaksi yang berstatus Complete tiap bulan selama Q1 sampai Q3 di tahun 2022? Insight apa yang bisa kamu berikan?

`How many transactions are in Complete status each month during Q1 to Q3 in 2022? What insights can you provide?`

In [2]:
numOfTransactionQ1_Q3 = client.query('''
SELECT * FROM(
  SELECT
    (EXTRACT(MONTH FROM created_at)) as month,   -- Perform a monthly data sort
    COUNT(*) AS total_transactions  -- Calculate the amount of data available on each month
  FROM `bigquery-public-data.thelook_ecommerce.order_items`
    WHERE status = 'Complete' -- Memasukkan kondisi yang dibutuhkan pada analisa
      AND EXTRACT(QUARTER FROM created_at) BETWEEN 1 AND 3
      AND EXTRACT(YEAR FROM created_at) = 2022
  GROUP BY EXTRACT(MONTH FROM created_at))
ORDER BY MONTH
''').to_dataframe()

numOfTransactionQ1_Q3

   month  total_transactions
0      1                 920
1      2                 845
2      3                 961
3      4                1030
4      5                1097
5      6                1122
6      7                1227
7      8                1325
8      9                1374

Berdasarkan hasil analisa yang didapatkan, dapat dijelaskan bahwa :
- Jumlah transaksi terendah terjadi pada bulan Januari(1) dengan jumlah 895 transaksi.
- Jumlah transaksi terbanyak terjadi pada bulan September(9) dengan jumlah 1466 transaksi.
- Jumlah transaksi pada Q1 - Q3 mengalami kenaikan secara konsisten dan bertahap berdasarkan
 jumlah tansaksi.

Based on the results of the analysis obtained, it can be explained that:
- The lowest number of transactions occurred in January(1) with a total of 895 transactions.
- The highest number of transactions occurred in September(9) with a total of 1466 transactions.
- The number of transactions in Q1 - Q3 has increased consistently and gradually based on
   number of transactions.

2. Berikan informasi total penjualan (dalam USD) tiap bulan selama Q1 sampai Q3 di tahun 2022! (Hanya yang transaksi berstatus Complete. Apa informasi yang bisa kamu sampaikan?

`Provide total sales information (in USD) each month during Q1 to Q3 in 2022! (Only transactions with Complete status. What information can you convey?`

In [3]:
salesAmountQ1_Q3 = client.query('''
SELECT * FROM (
  SELECT
    (EXTRACT(MONTH FROM a.created_at)) as Month, -- Melakukan sort data perbulannya
    -- Menjumlahkan harga barang barang yang terjual tiap bulannya untuk mendapatkan pendapatan perbulan
    SUM(b.sale_price) AS total_transactions
  FROM `bigquery-public-data.thelook_ecommerce.inventory_items` as a
  JOIN `bigquery-public-data.thelook_ecommerce.order_items` as b
  ON a.id=b.id
  WHERE b.status = 'Complete' -- Memasukkan kondisi yang dibutuhkan pada analisa
    AND EXTRACT(QUARTER FROM a.created_at) BETWEEN 1 AND 3
    AND EXTRACT(YEAR FROM a.created_at) = 2022
  GROUP BY EXTRACT(MONTH FROM a.created_at))
ORDER BY Month
''').to_dataframe()

salesAmountQ1_Q3

   Month  total_transactions
0      1        58776.340059
1      2        55651.670050
2      3        59151.890038
3      4        62695.710073
4      5        71064.880143
5      6        68982.360115
6      7        72217.800123
7      8        65418.240153
8      9        71086.030005

Berdasarkan hasil analisa yang didapatkan, dapat dijelaskan bahwa :
- Total penjualan terendah terjadi pada bulan Februari(2) dengan jumlah 61431.040037 USD.
- Total penjualan terbanyak terjadi pada bulan September(9) dengan jumlah 78986.240156 USD.
- Jumlah transaksi pada Q2 mengalami tren kenaikan secara konsisten berdasarkan jumlah transaksi.
- Jumlah transaksi pada Q1 dan Q3 terjadi inkonsisten (Terjadi naik dan turun) berdasarkan jumlah tansaksi.

Based on the results of the analysis obtained, it can be explained that:
- The lowest total sales occurred in February(2) with the amount of 61431.040037 USD.
- Most total sales occurred in September(9) with the amount of 78986.240156 USD.
- The number of transactions in Q2 experienced a consistent upward trend based on the number of transactions.
- The number of transactions in Q1 and Q3 was inconsistent (going up and down) based on the number of transactions.

3. Berapa user yang melakukan transaksi berstatus Complete di tiap bulan dari Q1 sampai Q3 2022? Apa kesimpulanmu?

`How many users make transactions with Complete status each month from Q1 to Q3 2022? What's your conclusion?`

In [4]:
userAmountQ1_Q3 = client.query('''
SELECT * from (
  SELECT
    (EXTRACT(MONTH FROM a.created_at)) as month, -- Melakukan sort data perbulannya
    -- Menghitung kemunculan user perbulannya dan diberikan fungsi DISCTINT agar tidak ada user_id yang terhitung lebih dari satu kali
    COUNT(DISTINCT b.user_id) AS total_user
  FROM `bigquery-public-data.thelook_ecommerce.inventory_items` as a
  JOIN `bigquery-public-data.thelook_ecommerce.order_items` as b
  ON a.id=b.id
    WHERE b.status = 'Complete' -- Memasukkan kondisi yang dibutuhkan pada analisa
      AND EXTRACT(QUARTER FROM a.created_at) BETWEEN 1 AND 3
      AND EXTRACT(YEAR FROM a.created_at) = 2022
  GROUP BY EXTRACT(MONTH FROM a.created_at))
ORDER BY month
''').to_dataframe()

userAmountQ1_Q3

   month  total_user
0      1        1001
1      2         898
2      3        1020
3      4        1019
4      5        1115
5      6        1098
6      7        1140
7      8        1132
8      9        1142

Berdasarkan hasil analisa yang didapatkan, dapat dijelaskan bahwa :
- Jumlah user yang melakukan transaksi terbanyak terjadi pada bulan September(9) dengan jumlah 1269 user.
- Jumlah user yang melakukan transaksi tersedikit terjadi pada bulan Februari(2) dengan jumlah 971 user.
- Berdasarkan jumlah transaksi user setiap bulannya masih terbilang stabil. Tidak terjadi penurunan atau kenaikan yang drastis.

Based on the results of the analysis obtained, it can be explained that:
- The number of users who made the most transactions occurred in September(9) with a total of 1269 users.
- The least number of users making transactions occurred in February(2) with a total of 971 users.
- Based on the number of user transactions each month, it is still fairly stable. There was no drastic decrease or increase.

4. Kategori produk apa saja yang paling banyak dibeli (status transaksi: Complete) di tiap bulannya selama Q1 sampai Q3 tahun 2022? Berikan insight!

`What product categories were purchased the most (transaction status: Complete) each month during Q1 to Q3 2022? Give insights!`

In [5]:
themostProductQ1_Q3 = client.query('''
SELECT Gru.mounth, Gru.Kategori, Gru.frekuensi
FROM (
  SELECT
    Prd.mounth, Prd.Kategori, Prd.frekuensi,
    -- Mengurutkan frekuensi kemunculan kategori perbulannya dengan fungsi ROW_NUMBER()
    ROW_NUMBER() OVER(PARTITION BY Prd.mounth ORDER BY Prd.frekuensi DESC) AS Peringkat
  FROM
  (
    SELECT
      EXTRACT(MONTH FROM tblOrder.created_at) AS mounth, -- Melakukan sort data perbulannya
      tblPdc.category as Kategori,
      COUNT(tblPdc.category) AS frekuensi -- Menghitung kemunculan categori perbulannya
    FROM `bigquery-public-data.thelook_ecommerce.order_items` AS tblOrder
    JOIN `bigquery-public-data.thelook_ecommerce.products` as tblPdc
      ON tblPdc.id = tblOrder.product_id
    WHERE -- Memasukkan kondisi yang dibutuhkan pada analisa
      EXTRACT(QUARTER FROM created_at) BETWEEN 1 AND 3
      AND EXTRACT(YEAR FROM created_at) = 2022
      AND status = 'Complete'
    GROUP BY mounth, Kategori
  ) AS Prd
) AS Gru
-- Memasukkan kondisi peringkat 1 saja berdasarkan rank frekuensi kemunculan kategori
WHERE Gru.Peringkat = 1
ORDER BY Gru.mounth
''').to_dataframe()

themostProductQ1_Q3

   mounth                       Kategori  frekuensi
0       1  Fashion Hoodies & Sweatshirts         64
1       2                          Jeans         69
2       3                      Intimates         87
3       4                          Jeans         86
4       5                      Intimates         89
5       6                      Intimates         81
6       7                 Sleep & Lounge         84
7       8                      Intimates        103
8       9                    Tops & Tees        107

Berdasarkan hasil analisa yang didapatkan, dapat dijelaskan bahwa :
- Kategori produk yang paling banyak dibeli selama Q1-Q3 yaitu produk "Intimates" yang mendominasi kemunculan(modus) selama Q1-Q3 sebanyak 4 kali di bulan Januari(1), Februari(2), Mei(5), dan Juni(6).
- Kategori produk yang sedikit diminati selama Q1-Q3 yaitu "Swim" dengan kemunculan hanya selama satu kali yaitu di bulan April(4) dengan jumlah penjualan 81 kali.
- Kategori produk "Sleep & Lounge" menjadi produk dengan jumlah penjualan terbanyak di banding kategori produk lainnya di bulannya masing-masing, dengan jumlah penjualan 112 kali pada bulan September(9).

Based on the results of the analysis obtained, it can be explained that:
- The most purchased product category during Q1-Q3 is the "Intimates" product which dominates the appearance (mode) during Q1-Q3 4 times in January(1), February(2), May(5) and June(6) ).
- The product category that was least in demand during Q1-Q3 was "Swim" with only one appearance in April(4) with 81 sales.
- The "Sleep & Lounge" product category became the product with the highest number of sales compared to other product categories in each month, with 112 sales in September(9).

5. Kategori produk apa saja yang paling banyak mendapatkan pendapatan (staus transaksi: Complete) di tiap bulannya selama Q1 sampai Q3 tahun 2022? Berikan insight!

`What product categories generated the most revenue (transaction status: Complete) each month during Q1 to Q3 2022? Give insights!`

In [6]:
themostExpensiveProdcQ1_Q3 = client.query('''
  SELECT
    tbl4.bulan, tbl4.KategoriItem, tbl4.Item_Teruntung
  FROM(
  SELECT
    tbl3.bulan, tbl3.ID_Produk, tbl3.KategoriItem, tbl3.Item_Teruntung,
    -- Mengurutkan item kategori apa yang paling besar pendapatannya dengan fungsi RANK() pada tiap bulannya
    RANK() OVER(PARTITION BY tbl3.bulan
    ORDER BY MAX(Item_Teruntung) DESC) AS peringkat
  FROM(
  SELECT
    tbl2.bulan, tbl2.ID_Produk, tbl2.KategoriItem,
    -- Mencari nilai terbesar terhadap KeuntunganItem pada tiap kategori pada tiap bulannya
    MAX(tbl2.KeuntunganItem) as Item_Teruntung
  FROM
  (
    SELECT
      tbl1.bulan, tbl1.ID_Produk, tbl1.KategoriItem,
      -- Menjumlahkan semua hasil dari TotalHarga_Jual perbulannya pada tiap kategori
      SUM(tbl1.TotalHarga_Jual) AS KeuntunganItem,
    FROM
    (
      SELECT
        tblOrdItm.product_id AS ID_Produk,
        tblOrd.num_of_item AS FreqPembelian,
        tblOrdItm.sale_price AS HargaJual,
        tblPrd.category AS KategoriItem,
        EXTRACT(MONTH FROM tblOrdItm.created_at) AS bulan,  -- Melakukan sort data perbulannya
        -- Menghitung total pendapatan dari harga barang dikali dengan jumlah barang yang terjual
        (tblOrdItm.sale_price * tblOrd.num_of_item) as TotalHarga_Jual
      FROM `bigquery-public-data.thelook_ecommerce.order_items` AS tblOrdItm
      JOIN `bigquery-public-data.thelook_ecommerce.orders` AS tblOrd
      ON tblOrdItm.order_id = tblOrd.order_id
      JOIN `bigquery-public-data.thelook_ecommerce.products` AS tblPrd
      ON tblOrdItm.product_id = tblPrd.id
      WHERE -- Memasukkan kondisi yang dibutuhkan pada analisa
        EXTRACT(QUARTER FROM tblOrdItm.created_at) BETWEEN 1 AND 3
        AND EXTRACT(YEAR FROM tblOrdItm.created_at) = 2022
        AND tblOrdItm.status = 'Complete'
      ORDER BY bulan
    ) AS tbl1
  GROUP BY tbl1.bulan, tbl1.KategoriItem, tbl1.ID_Produk
  ) AS tbl2
GROUP BY tbl2.bulan, tbl2.KategoriItem, tbl2.ID_Produk
  ) AS tbl3
GROUP BY tbl3.bulan, tbl3.KategoriItem, tbl3.ID_Produk, tbl3.Item_Teruntung
  ) AS tbl4
  -- Memasukkan kondisi memunculkan item teruntung dengan rank 1 saja yang ditampilkan
WHERE tbl4.peringkat = 1
GROUP BY tbl4.bulan, tbl4.KategoriItem, tbl4.Item_Teruntung
ORDER BY tbl4.bulan
''').to_dataframe()

themostExpensiveProdcQ1_Q3

   bulan       KategoriItem  Item_Teruntung
0      1  Outerwear & Coats          1630.0
1      2  Outerwear & Coats          2709.0
2      3  Outerwear & Coats          2796.0
3      4             Active          2709.0
4      5  Outerwear & Coats          1806.0
5      6  Outerwear & Coats          1516.0
6      7            Dresses          1580.0
7      8              Socks          1806.0
8      9  Outerwear & Coats          1500.0

Berdasarkan hasil analisa yang didapatkan, dapat dijelaskan bahwa :
- Kategori produk "Outerwear & Coats" merupakan produk yang memberikan pendapatan terbanyak selama Q1-Q3, dengan mendominasi perbulannya sebanyak 6 kali pada bulan Februari(2), April(4), Juni(6), Juli(7), Agustus(8), September(9).
- Pendapatan terbanyak per bulannya selama Q1-Q3 didapatkan pada bulan September(9) dari kategori produk "Outerwear & Coats" dengan jumlah pendapatan sebanyak 5418.0 USD.
- Pendapatan terendah per bulannya selama Q1-Q3 didapatkan pada bulan Januari(1) dari kategori produk "Dresses" dengan jumlah pendapatan sebanyak 1300.0 USD.

Based on the results of the analysis obtained, it can be explained that:
- The "Outerwear & Coats" product category is the product that provides the most revenue during Q1-Q3, dominating the month 6 times in February(2), April(4), June(6), July(7), August(8) ), Sept(9).
- The most revenue per month during Q1-Q3 was obtained in September(9) from the product category "Outerwear & Coats" with a total revenue of 5418.0 USD.
- The lowest income per month during Q1-Q3 was obtained in January(1) from the product category "Dresses" with a total income of 1300.0 USD.

6. Dibandingkan dengan jumlah transaksi dan total penjualan, mana yang paling berkaitan dengan jumlah user yang melakukan transaksi? Apa analisis yang dapat kamu jelaskan? (Hint: Kamu bisa menggunakan korelasi)

`Compared to the number of transactions and total sales, which is most related to the number of users making transactions? What analysis can you explain? (Hint: You can use correlation)`

In [7]:
import pandas as pd

korelasi = {'numOfTransaction': numOfTransactionQ1_Q3['total_transactions'],
            'numOfSales': salesAmountQ1_Q3['total_transactions']}

korelasiValue = pd.DataFrame(korelasi)

In [8]:
korelasiValue

   numOfTransaction    numOfSales
0               920  58776.340059
1               845  55651.670050
2               961  59151.890038
3              1030  62695.710073
4              1097  71064.880143
5              1122  68982.360115
6              1227  72217.800123
7              1325  65418.240153
8              1374  71086.030005

In [9]:
print(korelasiValue.corr())

                  numOfTransaction  numOfSales
numOfTransaction          1.000000    0.801932
numOfSales                0.801932    1.000000

Berdasarkan nilai korelasinya, antara jumlah transaksi dan jumlah transaksi memiliki hubungan sangat kuat. Di tunjukkan dengan nilai korelasi antar keduanya sebesar 0.777258.

`Based on the correlation value, there is a very strong relationship between the number of transactions and the number of transactions. Shown by the correlation value between the two of 0.777258.`

### Analysis Point

Berdasarkan analisa yang dilakukan puncak dari penjualan dan pendapatan terbanyak sehingga menghasilkan pendapatan terbanyak selama Q1-Q3 terjadi pada bulan September.

Selama Q3 data jumlah penjualan juga selalu mengalami kenaikan.

Berdasarkan nilai transaksi dan jumlah transaksi, keduanya saling berkorelasi atau berhubungan. Jumlah transaksi yang banyak menghasilkan nilai transaksi atau pendapatan yang meningkat pula terhadap total penjualan.

Kategori produk "Outerwear & Coats" menjadi produk yang paling menguntungkan bagi penjualan selama Q1-Q3 dan kategori produk "Intimates" menjadi produk yang paling banyak dibeli selama Q1-Q3.

Dengan demikian teknik pemasaran, promosi, atau variasi barang yang disediakan oleh e-commerce sudah tepat dan sesuai untuk mengingkatkan nilai jual dan keuntungan tiap bulannya.

`Based on the analysis conducted, the peak of sales and the most revenue resulting in the most revenue during Q1-Q3 occurred in September.`

`During Q3 data on the number of sales also always increased.`

`Based on the transaction value and number of transactions, both are correlated or related. The number of transactions that generate a lot of transaction value or income also increases to total sales.`

`The "Outerwear & Coats" product category was the most profitable product for sales during Q1-Q3 and the "Intimates" product category was the most purchased product during Q1-Q3.`

`Thus the marketing techniques, promotions, or variations of goods provided by e-commerce are appropriate and appropriate to increase sales value and profit each month.`

### Question Point

1. **Apakah problem statement yang kamu definisikan di awal dapat terukur ketercapaiannya? berikan pendapatmu!**

  Ya, tercapai. Data yang ingin dianalisa menghasilkan hasil yang sesuai dan hasil analisanya dapat dijadikan sebagai bahan ukuran terhadap analisis penjualan dan pendapatan.


2. **Berdasarkan hasil analisis yang sudah kamu lakukan dari 6 penjabaran di atas, jika CEO perusahaanmu ingin menargetkan pendapatan di awal kuartal 4 harus mencapai $250000, apakah masuk akal?**

  Ya masuk akal, karena di selama Q1-Q3 penjualan terus meningkat dan juga pendapatan terus meningkat. Pada Q4 target dapat tercapai di dukung juga karena Q4 adalah periode liburan akhir tahun.


3. **CEO kamu menargetkan di kuartal 4 ada investor yang dapat menyuntikan dana ke perusahaanmu, dimana investor akan melihat GMV selama 3 kuartal terakhir serta prospek kedepan minimal di kuartal 4 akan seperti apa. Berikan informasi kepada CEO mu berdasarkan trend transaksi, jumlah user yang bertransaksi, dan GMV 3 kuartal terakhir, apakah perusahaanmu layak atau tidak mendapatkan investor baru!**

  - Berdasarkan trend transaksi yang terjadi selama Q1-Q3 selalu stabil, tidak mengalami kenaikan atau penurunan yang signifikan.
  - Berdasarkan jumlah user yang bertransaksi pada tiap periode mengalami jumlah user yang berbeda tetapi tidak terjadi perbedaan yang signifikan, tetapi pada Q3 mengalami tren kenaikan konsisten terhadap user yang berinteraksai.
  - Berdasarkan GMV 3 kuartal terakhir didapatkan tren positif yang konsisten terhadap penjualan dan pendapatan, dan juga pada Q4 nantinya diprediksi terjadi peningkatan juga terhadap penjualan dan pendapatan pada akhir tahun.
  - Perusahaan layak untuk mendapatkan investor baru.

1. **Is the problem statement that you defined at the beginning measurable? give your opinion!**

   Yes, achieved. The data to be analyzed produces appropriate results and the results of the analysis can be used as a measure of sales and income analysis.


2. **Based on the results of the analysis that you have done from the 6 descriptions above, if your company's CEO wants to target revenue at the beginning of the 4th quarter to reach $ 250000, does it make sense?**

   Yes, it makes sense, because during Q1-Q3 sales continued to increase and also revenue continued to increase. In Q4 the target can be achieved also supported because Q4 is the year-end holiday period.


3. **Your CEO is targeting that in the 4th quarter there will be investors who can inject funds into your company, where investors will see the GMV for the last 3 quarters and what the future prospects will be at least in the 4th quarter. Provide information to your CEO based on transaction trends, the number of users who transact, and the GMV for the last 3 quarters, whether your company is eligible or not for new investors!**

   - Based on the trend of transactions that occurred during Q1-Q3, it was always stable, not experiencing a significant increase or decrease.
   - Based on the number of users who transact in each period, there is a different number of users but there is no significant difference, but in Q3 there is a consistent upward trend for users who interact.
   - Based on GMV for the last 3 quarters, there has been a consistent positive trend towards sales and revenue, and also in Q4 it is predicted that there will also be an increase in sales and revenue at the end of the year.
   - The company deserves to get new investors.